.chip {
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7D8CA2;
    padding: 4px;
    background: #E5E9EF;
    border: 1px solid #D2DAE4;
    border-radius: 4px;
    width:max-content;
}