.add-modal {
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--text-color);
        margin: 0;
    }

    &__desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--light-grey);
        margin: 4px 0 20px 0;
    }

    &__score-input {
        max-width: 80px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 4px;
        color: var(--light-grey);
        display: block;
        margin-bottom: 4px;
    }

    &__back {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: var(--light-grey);
        padding: 8px 20px;
        cursor: pointer;
        transition: box-shadow 0.3s;
        &:hover {
            box-shadow: var(--shadow);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        gap: 4px;
    }
}